// Place all the styles related to the Briefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* General */

html {
	background: url('');
}

body {
	margin: 0;padding: 0;
	font-family: 'Varela Round', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #484848;
}

p {
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #333;
}

br.clear {
	clear: both;
}

/* Layout */

.container {
	width: 900px;
	margin: 40px auto;
	background: #fff;
	padding: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

header {
	padding: 20px;
	border-top-left-radius: 5px; border-top-right-radius: 5px;
	border-top: 6px solid #b25247;
	border-bottom: 1px solid #ddd;
	margin-bottom: -10px;
}

h1.logo {
	display: block;
	float: right;
	width: 250px;
	height: 80px;
	margin: 0;
	line-height: 80px;
	text-align: right;
	color: #999;
	/*Un-comment this section to add an image for your logo
	background: url('logo.png');
	text-indent: -5000px;*/

}

.title {
	display: block;
	float: left;
	width: 500px;
	height: 75px;
	text-align: left;
	padding-top: 3px;
}

.title h2 {
	margin: 0;
	font-size: 38px;
	font-weight: bold;
}

.title p {
	margin: 0;
	font-size: 18px;
	color: #b25247;
}

article.questionnaire {
	display: block;
	width: 860px;
	padding: 20px 20px 20px 20px;
	margin: 0px;
}

h3 {
	font-size: 24px;
	padding: 10px 0 5px 0;
	color: #b25247;
	border-bottom: 2px solid #e7edf2;
}

h4 {
	color: #333;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	padding: 15px 0 5px 0;
	display: block;
	width: 860px;

}

h4 span {
	color: #ddd;
	margin-right: 10px;
}

/* Form Elements */

label {
	margin: 0 10px 0 5px;
	color: #666;
	font-size: 13px;

}

em {
	color: #666;
	font-size: 12px;
}

textarea, input[type=text] {
	border: 1px solid #ddd;
	-moz-border-radius: 4px ;
	-webkit-border-radius:4px ;
	border-radius:4px ;
	-moz-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.1);
	box-shadow:inset 0px 1px 2px rgba(0,0,0,0.1);
	width: 838px;
	padding: 10px;
	color: #acacac;
	font-size: 14px;
}

textarea {
	width: 838px;
	padding: 10px;
}

textarea:focus, input[type=text]:focus {
	outline: none;
	border:2px solid #b25247;
	-webkit-box-shadow: 0 0 5px rgba(19,139,242,.25);
	-moz-box-shadow: 0 0 5px rgba(19,139,242,.25);
	box-shadow: 0 0 5px rgba(19,139,242,.25);
	color: #505050;
	padding: 9px;
}

textarea.medium {
	height: 120px;
}

textarea.small {
	height: 50px;
}

input[type=file] {
	border: 1px solid #ddd;
	padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.options {
	padding: 10px;
	border: 1px solid #ddd;
	background: #fbfbfb;
	text-align: center;
}

.options input[type=radio] {
	margin: 0 0 0 10px;
}

.options textarea {
	width: 806px;
	margin: 10px 0;
}

.tag {
	display: inline-block;
	width: 160px;
	background: #fafafa;
	padding: 10px;
	margin: 10px;
}

/*Font choices - hide radio buttons*/

.font-choice label {
	font-size: 18px;
	color: #333;
	padding: 20px;
	width: 219px;
	display: inline-block;
	cursor: pointer;
}

.font-choice {
	display: inline-block;
	background: #fafafa;
	margin: 0 10px 14px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}

.font-choice input {
	display: none;
}

.active-choice {
	display: inline-block;
	background: #b25247;
	margin: 0 10px 14px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}

.active-choice label {
	font-size: 18px;
	color: #fff;
	padding: 20px;
	width: 219px;
	display: inline-block;
	cursor: pointer;
}

.active-choice input {
	display: none;
}

input[type=button], input[type=submit] {
	/*General*/
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 20px;

	/*Text*/
	font-size:16px;
	font-weight:bold;
	line-height:200%;
	color: #fff;
	text-align:center;
	text-shadow:0px -1px 0px rgba(0,0,0,0.2);

	/*Button*/
	border: none;
	width: 250px;
	height: 48px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #b25247;
	-webkit-box-shadow: inset 0 -4px #813c34;
	-moz-box-shadow: inset 0 -4px #813c34;
	box-shadow: inset 0 -4px #813c34;

}

p.error {
	color: #b25247;
}

input[type=button]:hover, input[type=submit]:hover {
 background: #b95b51;
}

input[type=button]:active, input[type=submit]:active {
 background: #7d90a0;
}
