// Place all the styles related to the Briefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea {
    width: 759px;
    padding: 10px;
  }
textarea.medium {
    height: 120px;
  }
textarea, input[type=text] {
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    width: 838px;
    padding: 10px;
    color: #acacac;
    font-size: 14px;
  }
input:not([type="image" i]), textarea {
    box-sizing: border-box;
  }
textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
  }
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
}
user agent stylesheet
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
em {
    color: #666;
    font-size: 12px;
    font-style: italic;
}
label {
    margin: 0 10px 0 5px;
    color: #666;
    font-size: 13px;
}
label {
    cursor: default;
}

.cell1 {
  background-color: #000000;
}

.cell2 {
  background-color: yellow;
}
.font-choice {
    display: inline-block;
    // background: #fafafa;
    margin: 0 10px 14px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.font-choice label {
    font-size: 18px;
    color: #333;
    padding: 20px;
    width: 219px;
    display: inline-block;
    cursor: pointer;
}

.lable {
  display : block;
  width: 400px;
}
.lable > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.lable > input + div{ /* DIV STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.lable > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
  background-color: #ffd6bb;
  border: 1px solid #ff6600;
}
